html{
    background-color: grey;
}
a{
    text-decoration: none;
    color: darkorange;
}

.first, .second{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.routed{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav{
    background-color: inherit;
    color: darkorange;
    font-size: 30px;
}
.f_temp{
    border: 2px solid darkorange;
}

.button{
    background-color: black;
    color: darkorange;
}

.button:hover{
    background-color: darkorange;
    color: black;
    animation: running;
}

h3{
    background-color: darkorange;
    font-size: 30px;
    font-weight: lighter;
}

.result{
    color: darkorange;
    font-weight: bolder;
    font-size: 20px;
}

/*End of Fahrenheit*/