html{
    background-color: grey;
}


/*Home HTML CSS*/
.heading{
    text-align: center;
    padding-top: 5%;
}
.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 0px;
}

.div1 { grid-area: 2 / 2 / 4 / 4; padding:2%;}
.div2 { grid-area: 2 / 4 / 4 / 6; padding:2%;}
.div3 { grid-area: 2 / 6 / 4 / 8; padding:2%;}
.div4 { grid-area: 4 / 2 / 6 / 4; padding:2%;}
.div5 { grid-area: 4 / 4 / 6 / 6; padding:2%;}
.div6 { grid-area: 4 / 6 / 6 / 8; padding:2%;}
.div7 { grid-area: 6 / 2 / 8 / 4; padding:2%;}
.div8 { grid-area: 6 / 4 / 8 / 6; padding:2%;}
.div9 { grid-area: 6 / 6 / 8 / 8; padding:2%;}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Causes 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

/*END OF HOME CSS*/
a{
    text-decoration: none;
    color: darkorange;
}

.first, .second{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.routed{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav{
    background-color: inherit;
    color: darkorange;
    font-size: 30px;
}
.f_temp{
    border: 2px solid darkorange;
}

.button{
    background-color: black;
    color: darkorange;
}

.button:hover{
    background-color: darkorange;
    color: black;
    animation: running;
}

h3{
    background-color: darkorange;
    font-size: 30px;
    font-weight: lighter;
}

.result{
    color: darkorange;
    font-weight: bolder;
    font-size: 20px;
}

/*End of Fahrenheit*/