<!DOCTYPE html>
<html>
<head>
    <title>Flask Calculator</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
<h1 class="homeHeading">Explore Physic Calculations</h1>

<div class="parent"> <!--PARENT DIV-->
    <div class="div1">
<!--EXAMPLE-->
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h1>Fahrenheit <br>Converter</h1>
                </div>
                <div class="flip-card-back">
                    <h3>Fahrenheit Converter</h3>
                    <p>Here is the link</p>
 <button class="nav"> <a href={{ url_for('fahrenheit_converter') }}>Fahrenheit</a></button>
                </div>
            </div>
        </div>
<!--END OF EXAMPLE-->
    </div>
<!--    DIVISION OF CHILD DIVS -->
    <div class="div2">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h1>Celsius <br>Converter</h1>
                </div>
                <div class="flip-card-back">
                    <h3>Celsius Converter</h3>
                    <p>Here is the link</p>
                    <button class="nav"> <a href={{ url_for('celsius_converter') }}>Fahrenheit</a></button>

                </div>
            </div>
        </div>
    </div>
<!--DIVISION OF CHILD DIVS-->
    <div class="div3">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h1>Acceleration Calculator</h1>
                </div>
                <div class="flip-card-back">
                    <h3>COMING SOON</h3>
                </div>
            </div>
        </div>
    </div>
    <!--DIVISION OF CHILD DIVS-->
    <div class="div4">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h1>Density <br> Calculator</h1>
                </div>
                <div class="flip-card-back">
                    <h3>COMING SOON</h3>
                </div>
            </div>
        </div>
    </div>
    <!--DIVISION OF CHILD DIVS-->
    <div class="div5">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h1>Free Fall <br>Calculator</h1>
                </div>
                <div class="flip-card-back">
                    <h3>COMING SOON</h3>
                </div>
            </div>
        </div>
    </div>
    <!--DIVISION OF CHILD DIVS-->
    <div class="div6">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h1>Time of Flight Calculator</h1>
                    <h3>Projectile Motion</h3>
                </div>
                <div class="flip-card-back">
                    <h3>COMING SOON</h3>
                </div>
            </div>
        </div>
    </div>
    <!--DIVISION OF CHILD DIVS-->
    <div class="div7">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h1>Projectile Range Calculator</h1>
                </div>
                <div class="flip-card-back">
                    <h3>COMING SOON</h3>
                </div>
            </div>
        </div>
    </div>
    <!--DIVISION OF CHILD DIVS-->
    <div class="div8">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h1>Power To Weight Calculator</h1>
                    <h5>To compare the performances of different motor vehicles</h5>
                </div>
                <div class="flip-card-back">
                    <h3>COMING SOON</h3>
                </div>
            </div>
        </div>
    </div>
    <!--DIVISION OF CHILD DIVS-->
    <div class="div9">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h1>Car Crash <br>Calculator</h1>
                    <p>To find out how dangerous car crashes are</p>
                </div>
                <div class="flip-card-back">
                    <h3>COMING SOON</h3>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
