<!DOCTYPE html>

<head>
    <title>Physics Project</title>

    <link rel="stylesheet" href="static/style.css">
</head>

<body>
<!-- <button> <a href=>Link</a></button> -->
<div>
<div>
<h3> Enter Celsius Temperature to Convert to Fahrenheit</h3>
    <form method="POST" action="/">
        Celsius Temperature <br>
        <input type="text" name="c_temp">
        <button type="submit" value="submit">Submit</button>
    </form>

</div>

<div>
    {% if celsius %}
        <p> It is {{ celsius }} Degrees Fahrenheit</p>
    {% endif %}
</div>
</div>
<!--Separate divs-->
<div>

<div>
    <form method="POST" action="/">
        <h3> Enter Celsius Temperature to Convert to Fahrenheit</h3>
        Celsius Temperature <br>
        <input type="text" name="f_temp">
        <button type="submit" value="submit">Submit</button>
    </form>
</div>

<div>
    {% if fahrenheit %}
        <p> It is {{ fahrenheit }} Degrees Fahrenheit</p>
    {% endif %}

</div>

</div>
</body>